<div id="placeholder" style="text-align:center; background-color:#333">
  <div style="font-size:large; font-weight:bold; font-color:#eee">
    Rafa example <br />
    2009 - Ruben Medellin
  </div>
</div>
<%=
  canvas('placeholder', 500, 500) do |canvas|

    make_triangle = Proc.new do
      x, y = (rand(300) + 100), (rand(300) + 100)
      p = canvas.path
      p.move_to(x, y)
      p.relatively
      2.times do
        deltax, deltay = (rand(200) - 100), (rand(200) - 100)
        p.line_to(deltax, deltay)
      end
      p.close
      p
    end

    random_color = Proc.new do
      "#%02x%02x%02x" % [rand(255), rand(255), rand(255)]
    end

    10.times do
      fig = make_triangle.call
      color = random_color.call
      fig["fill"] = color
      bbox = fig.bbox
      rect = canvas.rect(
        bbox.x, bbox.y, bbox.w, bbox.h,
        "stroke-width" => 1, "stroke" => color)
    end
    
  end
%>
