<div id="placeholder" style="text-align:center; background-color:#333">
  <div style="font-size:large; font-weight:bold; color:#eee">
    Rafa example <br />
    2009 - Ruben Medellin
  </div>
</div>
<%=
  canvas('placeholder', 600, 600) do |canvas|

    20.times do
      triangle = canvas.path do
        move_to rand(500) + 100, rand(500) + 100
        relatively
        line_to (rand(200) - 100), (rand(200) - 100)
        line_to (rand(200) - 100), (rand(200) - 100)
        close
      end

      #Define random color
      random_color = "#%02x%02x%02x" % [rand(255), rand(255), rand(255)]

      triangle['fill'] = random_color
      bbox = triangle.bbox
      canvas.rect(
        bbox.x, bbox.y, bbox.w, bbox.h,
        :stroke_width => 2,
        :stroke       => random_color
      )
    end
    
  end
%>
