<div id="placeholder" style="text-align:center; background-color:#333">
  <div style="font-size:large; font-weight:bold; font-color:#eee">
    Rafa example <br />
    2009 - Ruben Medellin
  </div>
</div>
<%=
  # Construction of canvas via div id or by specifying coordinates
  canvas('placeholder', 600, 600) do |canvas|

    # Easy integration with Ruby builtin methods
    width = 2
    30.step(350, 30) do |i|
      canvas.circle i,
        20, 10,
        :stroke_width => (width * 0.5).to_i,
        :stroke       => '#f50',
        :fill         => '#50f'
      width += 1
    end

    # Ability to name a variable to be used in plain js
    canvas.rect(80, 80, 80, 80, :rounded => 20, :fill => '#af3', :id => 's')
    canvas << "s.node.onmouseover = function(){ s.attr('stroke-width', 10) };"
    canvas << "s.node.onmouseout = function(){ s.attr('stroke-width', 3) };"
    canvas.text(120, 180, "Mouse over rect", :font_size => 20, :fill => '#af3')

    # Attribute access via several methods
    ell = canvas.ellipse(300, 100, 80, 30)
    ell.fill('#f50').attr('stroke-width', 5)
    ell.stroke = '#0f5'
    ell[:stroke_dasharray] = '--.'

  end
%>
