<div id="placeholder" style="text-align:center; background-color:#333">
  <div style="font-size:large; font-weight:bold; color:#eee">
    Rafa example <br />
    2009 - Ruben Medellin
  </div>
</div>

<%=
  canvas('placeholder', 600, 600) do |canvas|

    canvas.text 250, 30, "Mom, look, I'm scalable!",
      :font_size => 20,
      :fill => '#fc0'
    
    %w{I can also be stylized}.each_with_index do |text, i|
      canvas.text 200,
                  100 + i * 30,
                  text,
                  :fill         => "#9f0",
                  :font_family  => 'monospace',
                  :stroke_width => 1,
                  :stroke       => '#360',
                  :font_weight  => 'bold',
                  :font_size    => '40px'
    end

    t = canvas.text(300, 250, "As well as other things")
    t.fill = '#f09'
    t['font-size'] = 25
    t.rotate(-30)
    t.animate(5.seconds) do |anim|
      anim.fill = '#09f'
    end

  end
%>
